@layer base {
  body {
  }
  h1 {
    a {
      color: inherit;
    }
  }
  h2 {
    a {
      color: inherit;
    }
  }
  h3 {
    a {
      color: inherit;
    }
  }
  h4 {
    a {
      color: inherit;
    }
  }
  h5 {
    a {
      color: inherit;
    }
  }
  h6 {
    a {
      color: inherit;
    }
  }

  p {
    color: inherit;
  }
  sup {
  }
}
